.cards {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);

  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
  padding: 0px;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  padding-left: 16px;
}

h2 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
}

.card__like-button {
  border: none;
}

.button {
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.card__like-button {
  background-color: transparent;
}
