@media screen and (max-width: 320px) {
  .body {
    padding: 0px;
    margin: 0px;
  }

  .header__image {
    height: 24px;
    width: 126px;
    padding: 28px 167px 32px 27px;
    margin: 0;
  }

  .profile {
    padding: 42px 19px 36px 19px;
    max-width: 282px;
    height: 286px;
  }

  .footer {
    font-size: 14px;
    padding: 48px 19px 36px 19px;
    max-width: 282px;
    margin: 0;
  }
}
