.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  top: -50px;
  right: -50px;
  position: absolute;
  background-image: url(../images/Close__Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.modal__heading {
  color: black;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  width: 330px;
  height: 23px;
  margin: 0px;
}

.modal__form {
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.modal__input:first-of-type {
  margin-top: 54px;
  margin-bottom: 30px;
  min-height: 27px;
  border: transparent;
  border-bottom: 1px solid rgb(0 0 0 / 0.2);
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: #000;
  text-align: left;
}

.modal__input:last-of-type {
  margin-bottom: 48px;
  min-height: 27px;
  border: transparent;
  border-bottom: 1px solid rgb(0 0 0 / 0.2);
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: #000;
  text-align: left;
}

.modal__button {
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 0.8;
}

/* .modal__close-preview {
  background-image: url(../images/Close__Icon.svg);
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  top: -50px;
  right: -50px;
  position: absolute;
  background-image: url(../images/Close__Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  top: 200px;
  right: 375px;
} */

.modal__container-preview {
  position: relative;
}

.modal__image-preview {
  max-width: 816px;
  max-height: 540px;
  object-fit: contain;
}

.modal__title-preview {
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  margin: auto;
  padding-top: 10px;
}
@media screen and (max-width: 730px) {
  .modal__image-preview {
    max-width: 300px;
    max-height: 400px;
  }

  .modal__close-preview {
    top: -33px;
    right: -33px;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 630px) {
  .modal {
    margin: auto;
  }
  .modal__container {
    max-width: 282px;
    max-height: 322px;
    padding: 25px 22px;
  }

  .modal__close {
    top: -60px;
    right: 0px;
    width: 26px;
    height: 26px;
  }

  .modal__heading {
    max-width: 238px;
    max-height: 22px;
    font-size: 18px;
  }

  .modal__form {
    max-width: 282px;
    max-height: 322px;
  }

  .modal__input:first-of-type {
    max-width: 238px;
    max-height: 27px;
    margin-top: 75px;
  }
  .modal__input:last-of-type {
    max-width: 238px;
    max-height: 27px;
    margin-bottom: 45px;
  }

  .modal__button {
    max-width: 238px;
    max-height: 46px;
    margin: auto;
  }
}

@media screen and (max-width: 340px) {
  .modal__image-preview {
    max-width: 240px;
    max-height: 299px;
  }

  .modal__close-preview {
    top: -33px;
    right: -33px;
    width: 30px;
    height: 30px;
  }
}
