.profile {
  display: flex;
  align-items: center;
  padding: 40px 0px 0px 0px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__title {
  font-family: inter;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  padding: 0px;
  width: 375px;
  padding-right: 15px;
}

.profile__edit-button {
  height: 24px;
  width: 24px;
  grid-area: button;
  background-color: black;
  margin: auto;
  gap: 0px;
  border: 1px 0px 0px 0px;
  border-radius: 1px;
  border-color: white;
}

.profile__edit-icon {
  margin: auto;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile__add-button {
  background-color: black;
  margin-left: auto;
  padding: 0px 64px;
  color: white;
  text-align: center;
  border-color: white;
  border-radius: 2px;
  height: 50px;
  width: 150px;
}

.profile__add-icon {
  height: 22px;
  width: 22px;
}
