.profile {
  display: flex;
  align-items: center;
  padding: 40px 19px 51px 19px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__title {
  font-family: inter, Arial, sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  padding: 0px;
  max-width: 375px;
  padding-right: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__edit-button {
  height: 24px;
  width: 24px;
  grid-area: button;
  background-color: black;
  margin: auto;
  gap: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  cursor: pointer;
  background-image: url(../images/edit_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__edit-icon {
  margin: auto;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__add-button {
  background-color: black;
  margin-left: auto;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  height: 50px;
  width: 150px;
  cursor: pointer;
  background-image: url(../images/add-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__add-icon {
  height: 22px;
  width: 22px;
}
