.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s;
  z-index: 999;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
}

.modal__container {
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 358px;
  height: 258px;
}

.modal__close {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  top: -50px;
  right: -50px;
  position: absolute;
  background-image: url(../images/Close__Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.modal__heading {
  color: black;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  width: 330px;
  height: 23px;
  margin: 0px;
  margin-bottom: 54px;
}

.modal__form {
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}

.modal__input {
  border: transparent;
  border-bottom: 1px solid rgb(0 0 0 / 0.2);
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: #000;
  text-align: left;
  position: relative;
  min-height: 27px;
  display: block;
  width: 100%;
}

.modal__input:first-of-type {
  margin-bottom: 29px;
}

.modal__input:last-of-type {
  margin-bottom: 45px;
}

.modal__input_type_error {
  border-bottom-color: red;
}

.modal__error-active {
  color: red;
  display: block;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: red;
  position: absolute;
}

.modal__error:first-of-type {
  top: 145px;
}
.modal__error:last-of-type {
  top: 204px;
}

.modal__button {
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  cursor: pointer;
}

.modal__button_disabled {
  opacity: 0.1;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__container-preview {
  position: relative;
}

.modal__image-preview {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
}

.modal__title-preview {
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  margin: auto;
  padding-top: 10px;
}

.modal__label {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100px;
  max-width: 400px;
}

.form__submit_inactive {
  opacity: 0.1;
}

/* delete confirm modal */
#delete-confirm-modal {
  max-width: 430px;
  max-height: 181px;
}

#modal__container-delete-confirm {
  color: #fff;
}

#delete-confirm-text {
  max-width: 358px;
  max-height: 23px;
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.delete-confirm-button {
  max-width: 358px;
  max-height: 50px;
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (max-width: 730px) {
  .modal__image-preview {
    max-width: 300px;
    max-height: 400px;
  }

  .modal__close-preview {
    top: -33px;
    right: -33px;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 630px) {
  .modal {
    margin: auto;
  }
  .modal__container {
    max-width: 238px;
    max-height: 272px;
    padding: 25px 22px;
  }

  .modal__close {
    top: -60px;
    right: 0px;
    width: 26px;
    height: 26px;
  }

  .modal__heading {
    max-width: 238px;
    max-height: 22px;
    font-size: 18px;
  }

  .modal__form {
    max-width: 282px;
    max-height: 322px;
  }

  .modal__input:first-of-type {
    max-width: 238px;
    max-height: 27px;
    margin-bottom: 37px;
  }

  .modal__input:last-of-type {
    max-width: 238px;
    max-height: 27px;
    margin-bottom: 37px;
  }

  .modal__button {
    max-width: 238px;
    max-height: 46px;
    margin: auto;
  }
}

@media screen and (max-width: 340px) {
  .modal__image-preview {
    max-width: 240px;
    max-height: 299px;
  }

  .modal__close-preview {
    top: -33px;
    right: -33px;
    width: 30px;
    height: 30px;
  }

  .modal__button {
    font-size: 14px;
  }
}
